ion-content ion-toolbar {
  --background: transparent;
}

ion-content {
  --background: #f4f5f8;
}

ion-card {
  background: #ced6e0;
}

ion-title {
  padding-top: 10px;
}

.comment {
  display: flex;
}

.icon {
  display: flex;
  margin-left: 120px;
}